<%- include('../partial/panel/header') %>
<body class="footer-fixed">
    <%- include('../partial/panel/navbar') %>
    <%- include('../partial/panel/sidebar') %>
    <div class="container-fluid body-content">
        <section class="content dashboard">
            <div class="page-body">
                <div class="panel panel-default">
                    <div class="panel-heading user-management-heading">
                        <h2 style="display: flex; align-items: center; white-space: nowrap">Log</h2>                        
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partial/panel/footer') %>
    <%- include('../partial/panel/javascript') %>
</body>
